:root {
    --main_color: rgb(255, 255, 255);
    --secend_color: #b3efed;
    --th_color: #424242;
}

body {
    position: relative;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    margin: 0 5%;
}

.paddingtb {
    padding: 20px 0;
}

body::-webkit-scrollbar {
    background-color: var(--main_color);
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--main_color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secend_color);
}

/* =============================poshtibani======================= */
.poshtibani {
    background-color: var(--secend_color);
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 120px;
    border: 1px solid var(--th_color);
    box-shadow: 0 0 10px 2px whitesmoke;
    z-index: 9999;
    animation: poshtibania 2s linear infinite;
    -o-animation: poshtibania 2s linear infinite;
    -moz-animation: poshtibania 2s linear infinite;
    -webkit-animation: poshtibania 2s linear infinite;
    -ms-animation: poshtibania 2s linear infinite;
}

@keyframes poshtibania {

    0%,
    50%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(.95);
        border-color: #000;
    }

    75% {
        transform: scale(1.05);
        border-color: #bebdbd;
    }
}

.bi-headset {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 1.8rem;
    color: var(--th_color);
}

.poshtibani:hover {
    background-color: var(--main_color);
    box-shadow: 0 0 10px 2px var(--th_color);
    cursor: pointer;
}

.poshtibani_box {
    position: fixed;
    top: 73%;
    right: 2%;
    transform: scale(.2);
    -o-transform: scale(.2);
    -ms-transform: scale(.2);
    -moz-transform: scale(.2);
    -webkit-transform: scale(.2);
    opacity: 0;
    width: 270px;
    height: 300px;
    background-color: var(--secend_color);
    border-radius: 15px;
    box-shadow: 0 0 10px 2px var(--th_color);
    transition: all 0.3s linear;
    z-index: 999;
}

.poshtibani_box::after {
    position: absolute;
    top: 96%;
    left: 50%;
    content: "";
    background-color: var(--secend_color);
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 20px;
    height: 20px;
}

.poshtibani_text {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 10px;
    color: var(--th_color);
}

.big_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 6rem;
    color: var(--th_color);
}

.pish {
    color: var(--th_color);
    font-size: 1.4rem;
}

.sh_e {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-weight: 500;
    color: var(--th_color);
}

.pish_sh {
    margin: 0 0 0 0;
    margin-inline-start: 20px;
    padding: 0;
    margin-top: 180px;
    display: inline-block;
}

.pish_e {
    margin: 0 0 10px 0;
    margin-inline-start: 20px;
    padding: 0;
    display: inline-block;
}

.bi-telephone-fill {
    font-size: 0.8rem;
}

.bi-envelope-fill {
    font-size: 0.8rem;
}

.poshtibani:hover+.poshtibani_box {
    position: fixed;
    top: 47%;
    right: 25px;
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    border-radius: 15px;
    opacity: 100%;
}

/* ===============================arrows======================== */
.support {
    background-color: var(--secend_color);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    left: 120px;
    margin: 0;
    padding: 6px 12px 6px 12px;
    border: 1px solid;
    border-color: var(--th_color);
    border-radius: 0 15px 15px 0;
    font-size: xx-large;
    z-index: 9999;
    animation: animation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -o-animation: animation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -moz-animation: animation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -webkit-animation: animation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -ms-animation: animation 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.support_2 {
    background-color: var(--secend_color);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    left: 61px;
    margin: 0;
    padding: 6px 12px 6px 12px;
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: var(--th_color);
    border-radius: 15px 0 0 15px;
    font-size: xx-large;
    z-index: 9999;
    animation: animation2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -o-animation: animation2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -moz-animation: animation2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -webkit-animation: animation2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    -ms-animation: animation2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes animation {
    0% {
        transform: translateY(0) translateZ(0px);
        opacity: .6;
    }

    50% {
        transform: translateY(-6px) translateZ(3px);
        opacity: 1;
    }

    95% {
        transform: translateY(0px) translateZ(0px);
        opacity: .6;
    }
}

@keyframes animation2 {
    0% {
        transform: translateY(0) translateZ(0px);
        opacity: .6;
    }

    50% {
        transform: translateY(6px) translateZ(-3px);
        opacity: 1;
    }

    95% {
        transform: translateY(0px) translateZ(0px);
        opacity: .6;
    }
}

.bi-arrow-up {
    color: var(--th_color);
}

.bi-arrow-down {
    color: var(--th_color);
}

.support a {
    text-decoration: none;
    color: var(--main_color);
}

.support a:hover {
    color: var(--th_color);
}

.support:hover {
    background-color: var(--main_color);
}

.support_2:hover {
    background-color: var(--main_color);
}

/* ===============================menu======================== */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5%;
}

.first_list {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    position: relative;
}

.order_list li a:hover {
    border-bottom: 2px solid;
}

.order_list li a {
    text-decoration: none;
    color: black;
}

.order_list {
    width: 290px;
    padding: 0;
    margin: 0;
}

.item {
    flex: 1;
}

.logo {
    cursor: pointer;
    width: 80px;
}

.item2 {
    text-align: center;
}

.item3 {
    text-align: right;
}

.item3 a {
    width: 90px;
    background-color: black;
    color: var(--main_color);
    padding: 6px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.item3 a:hover {
    box-shadow: 0 0 10px 2px black;
    background-color: whitesmoke;
    color: #000;
}

.item3 a:active {
    box-shadow: 0 0 10px 2px black;
    background-color: var(--secend_color);
    color: #000;
}

.our_collections {
    display: flex;
    justify-content: start;
    gap: 10%;
    background-color: var(--main_color);
    padding: 20px 20px;
    border-radius: 4px;
    width: 85vw;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    left: -50%;
    transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.secend_list {
    display: block;
    list-style: none;
}

.men_a {
    text-transform: capitalize;
    font-weight: 500;
    color: #5c5c5c !important;
}
.men_a:hover{
    color: black !important;
    border-style: none none none none !important;
}
.men {
    opacity: 0;
    transition: all .2s .2s ease-in;
    -ms-transition: all .2s .2s ease-in;
    -moz-transition: all .2s .2s ease-in;
    -o-transition: all .2s .2s ease-in;
    -webkit-transition: all .2s .2s ease-in;
}

#our_collections_hover:hover .our_collections {
    transform: translateY(10px);
    -o-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
}

#our_collections_hover:hover .men {
    opacity: 1;
}
/* =================================sec kafsh animation=================================================== */
.gradiant_back{
    width: 100vw;
    height: max(50vh ,700px);
    background: linear-gradient(90deg , var(--secend_color) 0% ,var(--th_color) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.poly1{
    position: absolute;
    top: 250px;
    left: 200px;
    background-color: rgba(255, 255, 255, 0.756);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.poly2{
    position: absolute;
    top: 64%;
    left: 25%;
    background-color: rgba(255, 255, 255, 0.756);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.poly3{
    position: absolute;
    top: 95%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.756);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.poly4{
    position: absolute;
    top: 80%;
    left: 80%;
    content: "";
    color: transparent;
    -webkit-text-stroke:3px rgb(118, 118, 118);
    width: 60px;
    height: 60px;
    font-size: 15rem;
    font-weight: bolder;
    transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    animation: NIKE 2s ease-out 1;
    -webkit-animation: NIKE 2s ease-out 1;
    -o-animation: NIKE 2s ease-out 1;
    -ms-animation: NIKE 2s ease-out 1;
    -moz-animation: NIKE 2s ease-out 1;
}
@keyframes NIKE{
    from{
      transform: rotateZ(270deg); 
      top: 80%;
      left: 150%;
      opacity: 0; 
    }
    to{
        transform: rotateZ(270deg); 
        opacity: 1;
        top: 80%;
        left: 80%;      
    }
}
.shoe_gradiant{
    z-index: 1;
    filter: drop-shadow(2px 2px 20px );
    transform: scale(.6) translateX(0px);    
    -webkit-transform: scale(.6) translateX(0px);
    -o-transform: scale(.6) translateX(0px);
    -ms-transform: scale(.6) translateX(0px);
    -moz-transform: scale(.6) translateX(0px);
    animation: shoe 1s ease-out 1;
    -webkit-animation: shoe 1s ease-out 1;
    -o-animation: shoe 1s ease-out 1;
    -ms-animation: shoe 1s ease-out 1;
    -moz-animation: shoe 1s ease-out 1;
}
@keyframes shoe{
    from{
      transform: scale(.4) translateX(1500px); 
      opacity: 0; 
    }
    to{
        transform: scale(.6) translateX(0px); 
        opacity: 1;      
    }
}
.text_gradiant{
    margin: -200px 0 0 0;
    padding-left: -500px;
}
.text_gradiant{
    position: relative;
    transform: scale(1) translateX(180px) translateY(30px);    
    -webkit-transform: scale(1) translateX(180px) translateY(30px);
    -o-transform: scale(1) translateX(180px) translateY(30px);
    -moz-transform: scale(1) translateX(180px) translateY(30px);
    animation: textha 1s ease-out 1;
    -webkit-animation: textha 1s ease-out 1;
    -o-animation: textha 1s ease-out 1;
    -ms-animation: textha 1s ease-out 1;
    -moz-animation: textha 1s ease-out 1;
}
@keyframes textha{
    from{
      transform: scale(.8) translate(180px) translateY(-500px); 
      opacity: 0; 
    }
    to{
        transform: scale(1) translate(180px) translateY(30px); 
        opacity: 1;      
    }
}
.line{
    position: absolute;
    top: 27px;
    width: 180px;
    height: 5px;
    background-color: red;
}
.p1{
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0;
    margin-left: 190px;
}
.h1_g{
    width: 410px;
    height: 100px;
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 6rem;
}
.p2{
    color: #4a4a4a;
    font-weight: 300;
    width: 410px;
}
.btn_gra{
    display: flex;
    gap: 20px;
    margin-top: 200px;
    margin-left: -180px;
    z-index: 10;
    opacity: 1;
    animation: btns 2s ease-out 1;
    -webkit-animation: btns 2s ease-out 1;
    -o-animation: btns 2s ease-out 1;
    -ms-animation: btns 2s ease-out 1;
    -moz-animation: btns 2s ease-out 1;
}
@keyframes btns{
    0%{
        margin-top: -1000px;
        opacity: 0;
    }
    70%{
        margin-top: -100px;
        opacity: 0; 
    }
    100%{
        margin-top: 200px;
        opacity: 1;
    }
}
.btn_gra button{
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 8px;
    transition: all 1s ease;
}
.b1:hover{
    box-shadow: 0 0 10px inset;  
    transform: scale(1.1) rotateY(-30deg);  
}
.b2:hover{
    box-shadow: 0 0 10px inset;  
    transform: scale(1.1) rotateY(30deg);  
}
.b1{
    background: linear-gradient(120deg , cadetblue 0 10% , white , cadetblue 40% 100%);
}
.b1 a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}
.b1 i{
    color: black;
}
.b2 a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}
/* =====================sec_1 grid images=============== */
.slider_sec1 {
    max-width: 1300px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 80px 600px;
    grid-template-columns: repeat(10, 130px);
    z-index: 1;
}

.mini_pic {
    margin-inline-start: 10px;
    width: 110px;
    height: 70px;
    border-radius: 5px;
    transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    cursor: pointer;
    filter: blur(.7px) grayscale(80%);
}

.mini_pic:hover {
    filter: blur(0) grayscale(0);
}

.show {
    border-radius: 5px;
    width: 1300px;
    height: 600px;
    grid-column: 1/7;
    grid-row: 2/3;
    transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    opacity: 0;
    position: relative;
}

.slider_sec1::after {
    content: "";
    background-image: url(./img/backse1.png);
    position: absolute;
    inset: 10;
    width: 1300px;
    height: 600px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.mini_pic:hover+.show {
    opacity: 1;
}

/* =====================popular collections=============== */
.link_2::-webkit-scrollbar {
    background-color: var(--main_color);
    height: 10px;
}

.link_2::-webkit-scrollbar-track {
    background-color: var(--main_color);
}

.link_2::-webkit-scrollbar-thumb {
    background-color: var(--secend_color);
}

.Trending_Now_images {
    background-color: var(--secend_color);
}

.background_2 {
    padding-top: 20px;
    height: 360px;
    width: 600px;
    background-color: #b3efed;
    border-radius: 3px;
    transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}

.background_2:hover {
    transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    box-shadow: 0 10px 5px var(--th_color);
}

.cart {
    height: 20px;
    width: 80px;
    background-color: #f5f5f5;
    color: black;
    padding: 4px 16px;
    border-radius: 25px;
    margin-left: 340px;
    cursor: pointer;
    text-decoration: none;
}

.img_re_bg {
    height: 280px;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bottom_sec1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

strong {
    padding-right: 30px;
}

.name_sec1_shoes {
    margin: 0;
    font-size: 18px;
    padding-left: 30px;
}

.link_2 {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.carts_1 {
    flex-shrink: inherit;
    margin-top: 10px;
}

/* ===================trending now==================== */
.Trending_Now_images::-webkit-scrollbar {
    background-color: var(--main_color);
    width: 10px;
}

.Trending_Now_images::-webkit-scrollbar-track {
    background-color: var(--main_color);
}

.Trending_Now_images::-webkit-scrollbar-thumb {
    background-color: var(--secend_color);
}

.background_3 {
    padding-top: 20px;
    height: 300px;
    width: 420px;
    background-color: #b3efed;
    border-radius: 3px;
    transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}

.background_3:hover {
    transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    box-shadow: 0 5px 2px var(--th_color);
}

.Trending_Now_images {
    padding-top: 20px;
    height: 630px;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.img_re_bg_2 {
    height: 230px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ========================images gallery======================= */
.images {
    background-color: var(--main_color);
    display: flex;
    padding: 10px;
    gap: 10px;
    flex: 1;
    max-width: 1300px;
    height: 500px;
    margin: 80px auto;
    border-radius: 5px;
}

.images:hover {
    background-color: var(--secend_color);
    box-shadow: 0 0 50px 10px var(--secend_color);
}

.images img {
    filter: grayscale(80%);
    /* width: 500px; */
    object-fit: cover;
    flex: 1;
    overflow: hidden;
    transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    border-radius: 4px;
}

.images img:hover {
    filter: none;
    flex-grow: 5;
    /* cursor: url("./img/cursor.png"),auto; */
}

.padding {
    padding: 20px 0;
}

/* ========================sec_3 all collections======================= */
.link_3::-webkit-scrollbar {
    background-color: var(--main_color);
    height: 10px;
}

.link_3::-webkit-scrollbar-track {
    background-color: var(--main_color);
}

.link_3::-webkit-scrollbar-thumb {
    background-color: var(--secend_color);
}

.background_3_1 {
    height: 300px;
    width: 400px;
    background-color: rgb(145, 238, 238);
    border-radius: 5px;
}

.img_shoe {
    height: 300px;
    width: 400px;
    border-radius: 3px;
}

.bottom {
    margin-top: -25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

h4 {
    margin: 0;
}

.link_3 {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 80px;
    margin-bottom: 10px;
}

.carts_3 {
    flex-shrink: inherit;
}

.Product_News {
    margin: 0;
    padding: 0;
    color: var(--th_color);
}

.sites_loc {
    text-decoration: none;
    color: black;
}

/* ==========================sec_4 become member======================= */
.members {
    overflow: hidden;
    background: linear-gradient(black 0 75%, rgb(223, 223, 223));
    
    border-radius: 4px 4px 0 0;
    position: relative;
}
.members p{
    color: #4a4a4a;
    font-weight: 500;
    font-size: 1.1rem;
    width: 400px;
    padding-bottom: 100px;
}
.nike_logo{
    position: absolute;
    left: 550px;
    top: 20px;
    width: 700px;
    color: white;
}
.sec_faseleh {
    padding-left: 20px;
}
.join{
    border-radius: 30px;
    width: 180px;
    height: 60px;
    margin-left: 20px;
}
.join a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: black;
}
/* ===========================footer============================ */
.footer {
    overflow: hidden;
}

.footer_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icoons_footer {
    margin-inline-end: 100px;
    margin-left: 20px;
}

.bit {
    width: 110px;
    height: 110px;
    color: black;
    padding: 10px 13px;
    background-color: var(--main_color);
    border: 2px solid black;
    border-radius: 50%;
}

.bit:hover {
    background-color: var(--th_color);
    box-shadow: 0 0 10px 5px var(--secend_color);
    border-color: var(--secend_color);
    color: var(--main_color);
}

.footer_white {
    background-color: rgb(223, 223, 223);
    min-height: 350px;
    padding: 0;
}

.footer_li a {
    display: block;
    text-decoration: none;
    color: var(--th_color);
}

.footer_ul {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 80px;
}

.footer_li {
    list-style-type: none;
    padding-inline-end: 100px;
}

.copyright {
    text-align: center;
    color: var(--th_color);
}