
 .backgrand{
background-image: url(../img/janine-joles-Iro6cBbsXOo-unsplash.jpg);
object-fit:contain;
background-size: contain;
width: 550px;
height: 700px;
background-repeat: no-repeat;
opacity: .7;
border-radius: 20px;
align-items: center;
justify-content: center;

 }
 h2{
padding-left: 115px;
 }
 .input{
border-radius: 19px;
text-align: left;
text-decoration: 2px;
position: relative;
left: 80px;
margin-top: 10px;
border: 2px solid beige;
width: 250px;
} 
.sub{
width: 70px;
background-color: cadetblue;
border-radius: 10px;
margin-left:90px;
margin-top:25px;
cursor: pointer;

}
.sub:hover{
background-color: rgb(106, 158, 42);
width: 100px;
height: 50px;
border-radius: 10px;

}
 .backgrand2{
border: 2px solid brown;
width: 400px;
height: 500px;
margin-left: 20px;
border-radius: 20px;
 }
 .sex{
margin-left: 50px;
margin-top: 30px;
position: relative;
bottom: 20px;

 }
 .backgrand3{
border: 2px solid crimson;
background-color: beige;
border-radius: 20px;
width:380px;
height:30px;
margin-top:40px;
margin-left: 10px;
 }
 span{
position: relative;
bottom: 21px;}

textarea{
margin-top: 20px;
margin-left: 80px;
}
.CITY{
position: relative;
left:120px;
top: 20px;
}
.ICON{
position: relative;
left: 150PX;
top:30px;
margin-left: 10px;
cursor: pointer;
}