@font-face {
    font-family: "inter";
    src: url("./doc/Inter-Italic-VariableFont_opsz\,wght.ttf");
    src: url("doc/Inter-VariableFont_opsz\,wght.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    background: linear-gradient(135deg, rgb(0, 255, 247) , rgb(0, 38, 255) , rgb(0, 255, 221));
    min-height: 100vh;
}
.login_box{
    background: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #111;
    padding: 30px 120px;
    width: 550px;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.logo{
    width: 30px;
    margin-bottom: 20px;
}
.login_box h2{
    margin-bottom: 20px;
}
.login_box button img{
    width: 18px;
    margin-right: 10px;
}
.login_box button{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #999;
    font-weight: 500;
    cursor: pointer;  
}
.login_box hr{
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}
.login_box span{
    display: block;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 14px;
    margin-top: -16px;
}
.login_box input{
    width: 100%;
    background: transparent;
    border: 1px solid #999;
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
}
::placeholder{
    font-weight: 500;
    color: #333;
}
.login_box form button{
    background: #000;
    color: #fff;
    border: 0;
    margin-bottom: 15px;
}
.login_box p{
    text-align: left;
    font-size: 14px;
    color: #555;
    margin: 40px 0 50px;
}
.login_box p a{
    text-decoration: none;
    color: #359cf0;
    margin: 40px 0 50px;
}
.login_box p a:hover{
    text-decoration: underline;
}