body{
    min-height: 100vh;
    direction: rtl;
    background-image: url(./img/IMG_20230805_012859_314.jpg);
    background-repeat: no-repeat;
background-attachment: fixed;
 background-position: center;
background-size: cover;
margin: 0% 0%;
}
#menu{
    background-color: rgb(112 85 68);
    height: 30px; margin: 0%;
}
#part{
  height: 60vh;
 background-image: url(./caffee.png) ;
 background-repeat:repeat-x;
    background-position:bottom;
    background-size: 300px;
   
}
#part1{
  height:70vh;
  background-color: white;
  background-image: url(./Capture.PNG);
    background-position: bottom left;
    background-repeat: repeat;}
.summer-colection{
  background-color: white;
    margin: 0;
    text-align: center;
    padding: 10;
}
 #part2{
  /* height:130vh; */
  background-color: #ffffffba;
  display: flex;
    flex-wrap: wrap; 
    padding: 20PX 0;
 }
   #part4{
    height:30vh;
   background-color: #ffffffad;
   padding-top: 10PX;
   }  
   #part3{
  background-color: rgb(112 85 68);
  padding: 40PX 0;
}

#part5{height: 140PX;
  background-image: url(./pattern/безшовная-предпосылка-с-одеждами-137493124.jpg);
    background-repeat: repeat;
    background-size:200px;
}
#part6{
  background-color: #a2806e; height: 25vh;
}
#footer{background-color:   rgb(112 85 68); height: 60px;
    padding: 10PX 0;

}
.container{padding: 0 0;}
.menu-itemes{
color: white;
}
.prodact_container{
  min-height: 100px;
  background-color: #a2806e;
  margin: 10px 10px;
}
.container-mtn{
  margin: 10px 10px;
}
.p-padding{
    padding: 0 10px
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; text-align: center; margin-top: 0;
}
.foo-icon{
  margin: 0 8px; 
}
.padding{
  padding: 8px 8px;
}
.container2{
  margin: 8px 8px; padding: 0 8px;
}
.menu-itemes{
  margin: 0 8px;
}
.cart{
            height: 150px; width:150px;
            background-color: #a2806e;
            padding-top: 10px;
            padding-bottom:10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
         
         .category_container2{
          display: flex; flex-direction: column-reverse;
    gap: 8px;
    overflow-x: scroll;
    padding: 10px 10px}
    .containerr{
      margin: 0 8%;
    }
    .summer-colection-container{
      background-color: rgb(253, 250, 57); 
     
    }
    .part4-cart{
      display: flex; justify-content: space-around; 
    }

    .prodact_cards {

width: 200px;
height: 360px;
background-color: #a2806e;
text-align: right;
color: black;
padding: 10px 1%;
margin: 8px 1%;
}

.prodact_cards_desc {
width: 100%;
display: grid;
}

.prodact_cards_img {
width: 100%;
height: 200px
}

.prodact_cards_title {
margin-bottom: 0;
}

.prodact_cards_matn {
margin-bottom: 0.5em;
}

.prodact_cards_price {
margin: 8px 0 16px;
}
.prodact_sale_container {
    display: flex;
    gap: 2px;
    overflow-x: scroll;
    padding: 20px 20px; 
  width: 60%;
justify-content:space-evenly;}
.prodact_cards_btn {
background-color: #714d37;
color: aliceblue;
width: 100%;
padding: 10px 0;
text-align: center;}
.OFF-PART{
    DISPLAY: FLEX;
    JUSTIFY-CONTENT:center;
}
.MARJIN-OFF-PRODUCT{
    margin: 0 6%;
}
.MATN-COLUMN{
   column-gap: 10px; column-count: 3; float: left; COLUMN-RULE-STYLE: solid;
    COLUMN-RULE-COLOR: BLACK; 
}
.prodact_cards_desc2{
    background-color:#a2806e ;
}
.prodact_cards_sale {
    min-width: 220px;
    background-color: #a2806e;
    text-align: right;
    color: #3d2513;
    padding: 150px;}
 .prodact_sale_container {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    
padding: 0 10;}
