.body2{
    background-color: #f9fafc;
    font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-height: 100vh; */
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    background-image: url(../images/left_side.PNG) , url(../images/right_side.PNG);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left,right;
    background-size: 285px;
    min-height: 100vh;
    background-attachment: fixed;
}

.trello-main-logo{
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inner-section{
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px;
}

.section-wrapper{
    max-width: 400px;
    margin: 0 auto;
    max-width: 1300px;
}

.back-box{
    background-color: #ffffff;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    width: 310px;
    min-height: 500px;
    margin: 0 auto;
}

.h1{
    text-align: center;
    color: #5e6c84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.form-field{
    font-size: 14px;
    background-color: #fafbfc;
    border: 2px solid #dfe1e6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
}

.buttom-ct{
    height: 40px;
    background-color: #5AAC44;
    margin-top: 15px;
}

.phg{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.OR{
    text-align: center;
    color: #5e6c84;
    padding-top: 12px;
}
.box-company{
    padding-top: 10px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    text-align: center;
    background-color: #ffffff;
    height: 31px;
    margin-bottom: 10px;
}
.img_company{
    width: 24px;
    vertical-align: middle;
}

.paragraph{
    color: #000000;
}

.bottom-hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0,0%,80%);
    margin: 3em 0;
    padding: 0;
}

.bottom-from-link{
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0;
}

.bt-prv{
    text-align: center;
}