body{
    min-width: 80vw;
    background-image: url(./5010.png);
    background-repeat: repeat;
    background-size: 200px;
    margin: 0;
    background-attachment:fixed;
}
.container{
    padding: 1px;
    margin:0 8%;
}
.padding_tb{
    padding: 40px 0;
}
.part{
    min-height: 80vh;
}
.part1{
    height: 35px;
    background-color: rgb(20, 149, 247);
}
.part22{
    height: 500px;
    background-image: url(./Manchester_City_FC_badge.svg.png),url(./Manchester-City-Logo-199722.png),url(./rebranding-manchester-city-3939393939.png),url(./cat2.png);
    background-repeat: no-repeat;
    background-size: 390px,450px,300px, cover;
    background-position: bottom,97% bottom,5% bottom,bottom;


}
.part2{
    
    background-color: rgba(0, 0, 0, 0.477);
    column-count: 2;
    column-rule-style: double;
    column-rule-color: rgb(20, 149, 247);
    column-rule-width: 12px;
    direction: ltr;
}
.part3{
    background-color: rgba(27, 154, 228, 0.547);
}
.cart_list{
    justify-content: center;
    display: flex;
    gap: 20px;
}
.icon{
    width: 200px;
    text-align: center;
    
}
.part4{
    background-image: url(./132dc4c0-f3b7-472e-b5df-4253f8a3804f.jfif);
    background-size: 200px;
    height: 660px;
    background-color: aliceblue;
    padding-top: 10px;
}
.kart{
    display: flex;gap: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    height: 200px;
    padding: 30px 0;
}
.kart1{
    background-color: rgba(255, 255, 255, 0.651);
    height: 200px;
}
.part5{
    height: 200px;
    margin-top: 20px;
    
}
#scorol{
    height: 220px;
    background-color: aliceblue;
    display: flex;gap: 2px;
    overflow-x: scroll;
    
}
.part6{
    background-color: rgba(7, 116, 200, 0.689);
    height: 120px;
    margin-top: 20px;
}
.tim{
    display: flex;gap: 30px;
    justify-content: center;
    padding-top: 20px;
}
.part7{
    background-image: url(./1021.png);
    background-size: 200px;
    display: flex; gap: 20px;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 20px 8%;
    
}
.cart1{
    background-image: url(./blue-background-with-low-poly-polygon-texture_567470-421.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    width: 180px;
    background-position: center;
    border: 3px solid black;
    margin-bottom: 20px;
}
.bala{
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    
}
.paiin{
    background-color: hsla(240, 20%, 99%, 0.645);
    width: 100%;
    height: 165px;
    margin-bottom: 2px;
    padding: 1px;
    text-align: center;

}
.part8{
    height: 35px;
    background-color: rgb(20, 149, 247);
}
