@import url(../WebFonts/css/style.css);

BODY {
    direction: rtl;
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: IRANSans;
    /* background-color: white; */
}

:root {
    --part1: #21aa58;
    --part2: #fff;
    --part3: lightgrey;
}

/* ......................................footer..................................... */
.navstyle {
    height: 80px;
    padding-right: 7%;

    background-color: var(--part2);
    border-bottom: 1px solid var(--part3);
    border-top: 1px solid var(--part3);
    display: flex;
    position: relative;
    text-align: center;
    line-height: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.ulmenuestyle {
    right: 0;

}

.ulmenuestyle>li {
    display: inline-block;
    padding: 15px;
    font-size: 14px;

}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: black;
}

.submenue {
    background-color: aliceblue;
    position: absolute;
    top: 100%;
    padding: 0;
    display: none;
    border: 1px solid var(--part3);
    cursor: pointer;
    border-radius: 4px;
}

a:hover {
    color: black;
}

.submenue>li {
    padding: 5px;
    list-style: none;
    width: 120px;
    background-color: var(--part2);
    font-size: 12px;
}

.submenue>li:hover {
    color: var(--part1);
}

.listyle {
    position: relative;
}

.listyle:hover .submenue {
    display: block;
}

.snaplogo {
    width: 76px;
    cursor: pointer;

    right: 123px;
    top: 25px;
}

/* .............................header................................ */
.mapstyle {
    width: 100%;
}

/* ...................................section1................................ */

.contactcontainer {
    margin: 0 7%;
}

.sec2style {
    display: flex;
    gap: 20px;
    height: 1450px;
    position: relative;
    justify-content: center;
}

.leftstyle {
    width: 650px;
    background-color: var(--part2);
    height: 1500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(117, 116, 116);
}



.section3text {
    margin-left: 12px;
    margin-right: 12px;
    line-height: 2;
    text-align: right;
    font-size: 15px;

}

a:hover {
    color: var(--part1);
    cursor: pointer;
}

.inputs {
    width: 100%;
    height: 40px;
    background-color: rgb(241, 238, 238);
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    outline-color: rgb(235, 233, 233);

}

.smalldivh {
    color: var(--part1);
    font-size: 22px;
}


.sec2stylediv {
    display: flex;
    gap: 20px;
    position: absolute;
    top: -90px;

}



.leftstyle {
    width: 650px;
    background-color: var(--part2);
    height: 1500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(117, 116, 116);
}

.rightstyle {
    width: 370px;
    height: 440px;
    background-color: var(--part2);
    border-radius: 10px;
    position: sticky;
    top: 77px;
    box-shadow: 0 0 10px rgb(117, 116, 116);
    text-align: center;

    line-height: 1.5;
    font-size: 16px;
    padding: 7px;
    line-height: 2;
}

/* ...............................section2............................ */
.lastsectionbox {
    margin-top: 0;

}

.lastdivtext {
    line-height: 2;
    padding-bottom: 10px;
}


.section5 {

    border-bottom: 1px solid rgb(204, 201, 201);
    padding-bottom: 30px;
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.input1 {
    border: none;
    outline-color: inherit;
    color: var(--part3);

}

.sendstyle {
    background-color: var(--part1);
    font-size: 15px;
    color: var(--part2);
    padding: 7px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input1 :hover {
    border-bottom: 3px solid black;
}

.section4 {
    display: flex;
    border-bottom: 1px solid var(--part3);
    padding-bottom: 40px;
}

.lastpcontact {
    font-size: 25px;
    padding-top: 35px;

}

/* .............................section3......................................... */
.section5 {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(204, 201, 201);
    padding-bottom: 30px;
    position: relative;
    margin-top: 20px;
}

.inputdesign {
    border-bottom: 1px solid rgb(211, 207, 207);
    width: 250px;
    height: 35px;
}

.greeninput {
    display: flex;
    gap: 15px;
}


.greentexta {
    font-size: 23px;
}

.sendstylee {
    width: 130px;
    height: 40px;
    border: none;
    background-color: var(--part1);
    font-size: 15px;

    color: var(--part2);
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.input11 {
    border: none;
    outline: none;
    width: 250px;
    direction: rtl;
}

/* .................................footer........................................ */
.footerstyle {
    min-height: 300px;
    text-align: center;
    padding-top: 30px;
}

#footericon {
    display: inline-block;
    font-size: 22px;
}

.logostyle {
    width: 100px;
}

.divfooter {
    margin-top: 20px;
}

.contactcolor {
    color: var(--part1);
}