

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 7%;
}
.leftSilde{
    text-align: right;
    background-color: #f8f8f8;
    padding: 40px 30px 60px;
    width: 400px;
    border-radius: 20px;
    border: 3px solid #e6e6e6;
    color: #625f80;
}
.rightSilde{
    text-align: center;
    width: 500px;
}
.image{
    width: 100%;
}
.link{
    padding: 40px 20px;
}
.list{
    padding: 0;
    margin-right: 20px;
    margin-top: 28px;
}
.list > li{
    list-style: lower-roman;
    margin: 14px 0;
    font-size: 15px;
    cursor: pointer;
}
.list > li:hover{
    font-weight: 500;
}
.list_item{
    margin: 10px 0;
}

@media(max-width:768px){
  
}