.Result{
    padding: 60px 10% 40px;
    text-align: center;
    color: #5c5c5c;
    background-color: #f9f9f9;

    background-image: url('../public/images/wrap2.png'),url('../public/images/bg1.png');;
    background-repeat: no-repeat , repeat;
    background-position: top ;
    background-size: 100% ,auto;
    /* padding: 60px 10% 40px;
    background-color: #f5f6f6;
    background-image: url('/images/bg1.png');
    background-repeat: repeat;
    background-position: auto;
    text-align: center;
    color: #5c5c5c; */
}
.Carousel{
    direction: ltr;
}
.cards{
    height: 300px;
    max-width: 350px;
    object-fit: contain;
}
.Result>h3{
    margin: 16px 0 60px;
}
.Result>div{
    margin: 32px 0 72px;
    padding: 32px 16px;
    backdrop-filter: blur(1px);
    background-color: rgb(255 255 255 / 69%);
    /* background-image: linear-gradient(217deg, rgb(48 48 218 / 7%) , rgb(230 245 9 / 7%) ,rgb(255 164 237 / 7%) , rgb(131 47 214 / 7%) , rgb(234 158 18 / 7%)); */
    border-radius: 20px;
}
.term{
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.term i{
    margin-left: 5px;
}
.students_list{
    gap: 16px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.student{
    height: auto;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    position: relative !important;
}
.student_image_color_o , .student_image_color_e{
    max-width: 180px;
    max-height: 180px;
    object-fit: cover !important;
    border-radius: 50%;
    object-fit: contain;
    transition: 0.3s linear;
    background-size: 120%;
    background-color: #f0f0f0;
}

.student_image_color_o{
    border: 5px solid orange;
}
.student_image_color_e{
    border: 5px solid #ffeb3b;
}
.student span  , .student strong{
    display: block;
    margin-top: 5px;
}
.student:hover .student_image_color_o , 
.student:hover .student_image_color_e {
    box-shadow: 0 2px 10px rgb(163, 163, 163);
}
.hidden{
    display: none;
}
.effect{
    color: rgb(250, 250, 250);
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 180px;
    transition: opacity 0.3s linear;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 20px 10px; */
    margin: 0;
    border-radius: 50%;
    font-size: 14px;
}
.effect i{
    color: rgb(255, 81, 81);
    margin-bottom: 8px;
    font-size: 32px;
}
.student:hover .effect{
    opacity: 1;
    background-color: rgba(0 ,0,0,0.6);
} 

@media (max-width:1320px){
    .students_list{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width:1140px){
    .students_list{
        grid-template-columns: repeat(3,1fr);
    } 
}
@media (max-width:769px){
    .students_list{
        grid-template-columns: repeat(3,1fr);
    } 
    .student{
        width: 150px;
    }
    .student_image_color_o , .student_image_color_e{
        max-width: 120px;
        max-height: 120px;
    }
    .student span  , .student strong{
        font-size: 14px;
    }
    .Result{
        padding: 32px 5% ;
    }
    .Result>div{
        /* margin: 32px 0; */
        margin: 0 auto;
    }
    .Result>h3{
        margin: 20px 0;
    }
    
    
}
@media(max-width:576px){
    .students_list{
        grid-template-columns: repeat(2,1fr);
    } 
    .student{
        width: 180px;
    }
    .student_image_color_o , .student_image_color_e{
        max-width: 150px;
        max-height: 150px;
    }
}
@media(max-width:430px){
    .students_list{
        grid-template-columns: repeat(1,1fr);
    } 
}

/* .student{
    height: 300px;
    width: 300px;
    background-image: url('/images/logo.png');
    background-size: 100%;
    background-position: center;
    position: relative;
    border-radius: 8px;
    filter: blur(1px);
    transition: 1s linear;
    cursor: pointer;
    margin: 20px;

}
.student p{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s linear;
    opacity: 0;
    text-align: center;
    padding: 20px 10px;
    margin: 0;
    border-radius: 0 0 8px 8px;
}
.student:hover{
    filter: blur(0);
    background-size: 110%;
    background-position: center;
}
.student:hover p{
    opacity: 1;
    background-color: rgba(0 ,0,0,0.7);
} */